.initials-avatar {
    background-color: #330335;
}

.Message {
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #5f316e;
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;



    &-Author {
        width: 100%;
        &_preview {
            margin-left: 15px;
        }
    }

    &_preview {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

    }

    &_position {
        display: flex;

        &_right {
            margin-left: auto;
        }
    }

    &:hover {
        background-color: #373797;
        cursor: pointer;
    }
    
}