
.SignIn {
    color: white;
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 500px;
    height: fit-content;
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 5px;

    background-color: #2b1534;
}